 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
 </head>
 <body> 
    <h1>home page : <%=4+5+1%></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti provident, modi, voluptatum tempore sint, architecto eius cumque ex eligendi ullam ducimus totam possimus est iure unde deserunt quae ipsam porro! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi sapiente at laboriosam aut aperiam, voluptatum sint, consectetur temporibus omnis molestiae iusto cupiditate sunt dignissimos eos, amet delectus veniam obcaecati dicta!</p>

 </body>
 </html>